<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>User name</th>
      <th>User phone</th>
      <th>Visiting date, time</th>
      <th>Barber</th>
      <th>Hair color</th>
    </tr>
  </thead>
  <tbody>
    <%=@users%>
  </tbody>
</table>
